# Ejercicios de Objetos y Clases

##### II DIPLOMA DE EXPERTO EN APRENDIZAJE AUTOMÁTICO AVANZADO EN PYTHON
#### Alumno: Pablo Fazio Arrabal

---

Considera la siguiente definición de clase:

In [46]:
class Empleado:
  def __init__(self, nombre, apellido1, apellido2, dni, cargo, departamento, sueldo):
    self.nombre = nombre
    self.apellido1 = apellido1
    self.apellido2 = apellido2
    self.dni = dni
    self.cargo = cargo
    self.departamento = departamento
    self.sueldo = sueldo
  def __str__(self):
    return f' Empleado {self.nombre} {self.apellido1} {self.apellido2} con DNI {self.dni}'

  def nombre_completo(self):
    return f'{self.apellido1} {self.apellido2}, {self.nombre}'

  def trasladar(self, nuevo_dept):
    self.departamento = nuevo_dept

1. Crea dos objetos de clase Empleado e imprímelos por pantalla.

In [47]:
empleado1 = Empleado("Antonio", "Vázquez", "Prieto", "74847658X", "Obrero", "Construcción", 1500)

print(empleado1)

 Empleado Antonio Vázquez Prieto con DNI 74847658X

In [48]:
empleado2 = Empleado("Diego", "Jiménez", "Carretero", "44662323S", "Arquitecto", "Construcción", 3000)

print(empleado2)

 Empleado Diego Jiménez Carretero con DNI 44662323S

2. Añade un método a la clase que devuelva el nombre completo del empleado en el formato: Apellido1 Apellido2, Nombre

In [49]:
print(empleado1.nombre_completo())

Vázquez Prieto, Antonio

In [50]:
print(empleado2.nombre_completo())

Jiménez Carretero, Diego

3. Añade un método a la clase para trasladar a un empleado a otro departamento, manteniendo igual el resto de sus datos.

In [51]:
empleado1.trasladar("Marketing")

print(empleado1.departamento)

Marketing

4. Dada una lista de empleados, ordénala según sus nombres completos e imprímela por pantalla.

In [52]:
empleado1 = Empleado(
    "Laura",
    "García",
    "Fernández",
    "12345678A",
    "Desarrolladora Backend",
    "Tecnología",
    45000
)

empleado2 = Empleado(
    "Carlos",
    "Rodríguez",
    "Ruiz",
    "87654321B",
    "Director Comercial",
    "Ventas",
    55000
)

empleado3 = Empleado(
    "Ana",
    "Martínez",
    "López",
    "11223344C",
    "Técnica de Selección",
    "Recursos Humanos",
    28000
)

empleado4 = Empleado(
    "David",
    "Sánchez",
    "Gómez",
    "55667788D",
    "Jefe de Almacén",
    "Logística",
    24000
)

empleado5 = Empleado(
    "Elena",
    "Pérez",
    "Jiménez",
    "99887766E",
    "Diseñadora Gráfica",
    "Marketing",
    30000
)

lista_empleados = [empleado1, empleado2, empleado3, empleado4, empleado5]

In [53]:
lista_nombres_empleados = []

for elem in lista_empleados:
  lista_nombres_empleados.append(elem.nombre_completo())

lista_nombres_empleados.sort()

print(lista_nombres_empleados)

['García Fernández, Laura', 'Martínez López, Ana', 'Pérez Jiménez, Elena', 'Rodríguez Ruiz, Carlos', 'Sánchez Gómez, David']

5. Dada una lista de empleados, calcula la lista de los que cobran más de 40000 e imprímela por pantalla.

In [54]:
lista_sueldo = []

for elem in lista_empleados:
  if elem.sueldo > 40000:
    lista_sueldo.append(elem)

for i in lista_sueldo:
  print(i)

 Empleado Laura García Fernández con DNI 12345678A
 Empleado Carlos Rodríguez Ruiz con DNI 87654321B

6. Dada una lista de empleados, aplícales una subida de sueldo del 20% y calcula la suma de todos los sueldos resultantes.

In [55]:
suma = 0

for elem in lista_empleados:
  sueldo_anterior = elem.sueldo
  elem.sueldo = sueldo_anterior + 0.2*sueldo_anterior
  suma += elem.sueldo

print(f"Suma de todos los sueldos resultantes es: {suma} euros.")

54000.0
66000.0
33600.0
28800.0
36000.0
Suma de todos los sueldos resultantes es: 218400.0 euros.