# Ejercicios de Conjuntos

##### II DIPLOMA DE EXPERTO EN APRENDIZAJE AUTOMÁTICO AVANZADO EN PYTHON
#### Alumno: Pablo Fazio Arrabal

---

1. Escribe un programa en Python que cree un conjunto vacío, y a continuación inserte todos los números enteros divisibles por 3 y menores que 100.

In [2]:
conjunto_res = set()

for i in range(1,100):
  if i % 3 == 0:
    conjunto_res.add(i)

print(conjunto_res)

{3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99}

2. Escribe un programa en Python que calcule la unión del conjunto de los números naturales menores que 100 que son divisibles por 7 con el conjunto de los números naturales menores que 200 que son divisibles por 13.

In [4]:
A = {num for num in range(1,100) if num % 7 == 0}

B = {num for num in range(1,200) if num % 13 == 0}

print(A | B)

{65, 130, 195, 70, 7, 77, 14, 13, 78, 143, 84, 21, 26, 91, 28, 156, 98, 35, 39, 104, 169, 42, 49, 52, 117, 182, 56, 63}

3. Escribe un programa que elimine los elementos duplicados de una lista usando un conjunto.

In [10]:
lista = [1,13,45,3,4,8,3,2,8,4,9,1,2,2]

lista_set = set(lista)

lista = list(lista_set)

print(lista)

[1, 2, 3, 4, 8, 9, 45, 13]

4. Escribe un programa en Python para contar el número de caracteres diferentes que ocurren en una cadena introducida por teclado.

In [7]:
cadena = "bedchujxiwskxijcbed"

conjunto_cadena = set(cadena)

print(len(conjunto_cadena))

12

5. Escribe un programa en Python que, dadas dos cadenas, imprima por pantalla los caracteres diferentes que aparecen en la primera cadena pero no en la segunda.

In [17]:
cadena1 = "hvduxhbs"
cadena2 = "jndcjwuisq"

for car in set(cadena1):
  if car not in set(cadena2):
    print(car)

h
x
b
v

6. Escribe un programa en Python que, dadas tres listas de números enteros, imprima por pantalla aquellos números que aparezcan al menos una vez en cada una de las tres listas.

In [16]:
lista1 = [1,53,8,2,6,609,35,29,100,34]
lista2 = [8,3,7,45,68,32,468,609]
lista3 = [7,98,76,38,21,678,345,8,609]

lista1_set = set(lista1)
lista2_set = set(lista2)
lista3_set = set(lista3)

for num in lista1_set:
  if num in lista2_set and num in lista3_set:
    print(num)

609
8