# Ejercicios Prácticos - Estructuras de Datos

##### II DIPLOMA DE EXPERTO EN APRENDIZAJE AUTOMÁTICO AVANZADO EN PYTHON
#### Alumno: Pablo Fazio Arrabal

---

## Ejercicios Básicos

1. Considera la siguiente lista con información de compras:
    ```
    clientes = [
        # Datos edades y gasto por cliente
        [25, 30, 22, 35, 28, 40, 45, 32],
        [35.50, 42.00, 29.75, 52.25, 47.00, 60.30, 55.20, 45.10],

        # Datos género y estado civil
        ["Masculino", "Femenino", "Femenino", "Masculino", "Masculino", "Femenino", "Femenino", "Masculino"],
        ["Casado", "Casado", "Casado", "Soltero", "Soltero", "Soltero", "Soltero", "Casado"],

        # Datos de fecha y hora
        ["2023-08-01", "2023-09-12", "2023-07-22", "2023-09-30", "2023-08-15", "2023-10-02", "2023-06-15", "2023-08-27"],

        # Satisfacción
        ["Muy buena", "Muy mala", "Regular", "Regular", "Muy buena", "Mala", "Regular", "Muy buena"],

        # Nivel educativo
        ["Secundaria", "Universidad", "Doctorado", "Universidad",
        "Secundaria", "Maestría", "Doctorado", "Secundaria"],
    ]
    ```

    **a)** Calcula el gasto medio de las personas casadas mayores de 30 años usando operaciones de listas y sentencias de control.

    **b)** Crea un diccionario con las siguientes puntuaciones asociadas a la satisfacción "Muy buena" como un 5, "Buena" como un 4, "Regular" un 3, "Mala" un 2 y "Muy mala" un 1. Calcula la satisfacción media ayudándote de dicho diccionario.

    **c)** Asigna un número entero a cada edad de cliente mediante la operación "enumerate" e imprime el resultado por pantalla.

    **d)** Calcula la edad máxima y la mínima de los clientes utilizando funciones matemáticas sobre listas.

In [56]:
# Inicializamos la lista de entrada

clientes = [
        # Datos edades y gasto por cliente
        [25, 30, 22, 35, 28, 40, 45, 32],
        [35.50, 42.00, 29.75, 52.25, 47.00, 60.30, 55.20, 45.10],

        # Datos género y estado civil
        ["Masculino", "Femenino", "Femenino", "Masculino", "Masculino", "Femenino", "Femenino", "Masculino"],
        ["Casado", "Casado", "Casado", "Soltero", "Soltero", "Soltero", "Soltero", "Casado"],

        # Datos de fecha y hora
        ["2023-08-01", "2023-09-12", "2023-07-22", "2023-09-30", "2023-08-15", "2023-10-02", "2023-06-15", "2023-08-27"],

        # Satisfacción
        ["Muy buena", "Muy mala", "Regular", "Regular", "Muy buena", "Mala", "Regular", "Muy buena"],

        # Nivel educativo
        ["Secundaria", "Universidad", "Doctorado", "Universidad",
        "Secundaria", "Maestría", "Doctorado", "Secundaria"],
]

In [57]:
# APARTADO A)

# Inicializamos las variables contadoras del gasto y número de clientes
gasto_total = 0
num_clientes = len(clientes[0])
num_clientes_concretos = 0

for i in range(num_clientes):
  if clientes[0][i] > 30 and clientes[3][i] == "Casado": # Comprobamos que la edad sea mayor que 30 y su estado civil sea 'Casado'
    gasto_total += clientes[1][i]
    num_clientes_concretos += 1

print(f"El gasto medio de las personas casadas mayores de 30 años es de {gasto_total/num_clientes_concretos}.")

El gasto medio de las personas casadas mayores de 30 años es de 45.1.

In [58]:
# APARTADO B)

# Creamos el diccionario como se nos pide, con la satisfacción como clave y la
# puntuación asociada a dicha satisfacción como valor

dic_satisfaccion = {"Muy buena": 5, "Buena" : 4, "Regular" : 3, "Mala" : 2, "Muy mala" : 1}

satisfaccion_total = 0
num_clientes = len(clientes[5]) # Basta ver el tamaño de cualquiera de las sublistas de clientes

for elem in clientes[5]:
  # Para cada clave, obtengo su valor con la función get()
  # NOTA: Si en los datos hubiera alguna clave que no estuviera en el diccionario
  # creado, se salta
  if dic_satisfaccion.get(elem) != None:
    satisfaccion_total += dic_satisfaccion.get(elem)

print(f"La satisfacción media de los clientes es de {satisfaccion_total/num_clientes} sobre 5.")

La satisfacción media de los clientes es de 3.375 sobre 5.

In [59]:
# APARTADO C)

# Basta usar la función enumerate() con la lista de edades

for num, edad in enumerate(clientes[0]):
  print(num, edad)

0 25
1 30
2 22
3 35
4 28
5 40
6 45
7 32

In [60]:
# APARTADO D)

# Basta usar las funciones matemáticas min() y max() sobre un objeto iterable
edad_maxima = max(clientes[0])
edad_minima = min(clientes[0])

print(f"La edad máxima de los clientes es de {edad_maxima} años.")
print(f"La edad mínima de los clientes es de {edad_minima} años.")

La edad máxima de los clientes es de 45 años.
La edad mínima de los clientes es de 22 años.

2. Lee el documento "ventas.txt" que se adjunta en esta tarea. Para ello descarga el fichero, arrástralo a la sección de archivos de tu Google Colab. A continuación lee el fichero mediante código.

    **a)** Crea un diccionario de datos con el contenido del fichero y muestra el diccionario por pantalla.

    **b)** Usando el diccionario, calcula la cantidad de ingresos totales (unidades vendidas x precio_por_unidad).

In [61]:
# APARTADO A)

# Inicializo el diccionario donde guardaremos los contenidos del fichero
diccionario_datos = {}

with open('/content/ventas.txt', 'r') as f:
  for line in f:

    # Esto nos permite limpiar las comas separadoras y dividir las líneas
    datos = line.strip().split(sep = ",")

    # Obtenemos ahora los datos de cada línea
    nombre_dispositivo = datos[0]
    precio_por_unidad = float(datos[1])
    unidades_vendidas = int(datos[2])

    # NOTA: Es importante hacer casting de 'float' e 'int' para luego poder hacer
    # operaciones numéricas con estos datos

    # Insertamos en el diccionario de forma que el nombre del producto sea la
    # clave y la tupla (precio, unidades) sea el valor

    diccionario_datos[nombre_dispositivo] = (precio_por_unidad, unidades_vendidas)

    # NOTA: Si hubiera un dispositivo repetido en la lista, se sobreescriben los
    # antiguos valores

print(diccionario_datos)

{'Laptop': (500.0, 3), 'Teléfono': (200.0, 5), 'Tablet': (150.0, 4), 'Auriculares': (100.0, 3), 'Monitor': (150.0, 3)}

In [62]:
# APARTADO B)

ingresos_totales = 0

# Basta hacer un bucle por la lista de valores del diccionario, sumando
# el precio*unidad de cada artículo

for (precio, unidad) in diccionario_datos.values():
  ingresos_totales += precio*unidad

print(f"La cantidad de ingresos totales es de {ingresos_totales} euros.")

La cantidad de ingresos totales es de 3850.0 euros.

3. Considera los siguientes datos de varias personas, en “X” se almacena el peso y en “Y” el sexo (0: mujer, 1: hombre):

    ```
                                                    X = {55, 80, 78, 92, 65}
                                                      Y = {0, 1, 1, 1, 0}
    ```
    Guárdalos en dos listas y, ayudándote de la función "zip", calcula el peso medio de cada uno de los sexos y muéstralo por pantalla.

In [63]:
# Creamos las listas con los datos de entrada

X = [55, 80, 78, 92, 65]
Y = [0, 1, 1, 1, 0]

# Inicializamos las variables que nos permiten llevar el conteo
cont_M = 0
cont_H = 0
suma_pesos_M = 0
suma_pesos_H = 0

# zip() nos permite iterar varias listas por separado

for peso, sexo in zip(X, Y):
  if sexo == 0: # la persona es mujer
    suma_pesos_M += peso
    cont_M += 1
  elif sexo == 1: # la persona es hombre
    suma_pesos_H += peso
    cont_H += 1

print(f"El peso promedio de los hombres es {suma_pesos_H/cont_H} kilos.")
print(f"El peso promedio de las mujeres es {suma_pesos_M/cont_M} kilos.")

El peso promedio de los hombres es 83.33333333333333 kilos.
El peso promedio de las mujeres es 60.0 kilos.

## Ejercicio Avanzado

4. Vamos a trabajar con listas de cadenas generadas aleatoriamente:
    
    **a)** Genera dos listas de longitud aleatoria formadas por cadenas aleatorias. Para ello, elige para cada lista su longitud aleatoriamente entre 0 y 20 elementos. A continuación, para cada cadena de cada lista elige su longitud aleatoriamente entre 0 y 15 caracteres. Después, para cada carácter de cada cadena de cada lista, elige aleatoriamente el carácter entre '`A`' y '`Z`'. Por último, imprime por pantalla ambas listas.
    
    *Pistas: Debes usar la función `randint` del paquete `random`, para ello debes comenzar el script con la siguiente instrucción:*

    `from random import randint`

    *También debes usar las funciones `chr` para convertir de número a carácter, y `ord` para convertir de carácter en número.*

    **b)** Mezcla las dos listas en una única lista ordenada en orden descendente.

    **c)** Convierte a minúsculas las cadenas de la lista ordenada.

    **d)** Calcula, para cada cadena de la lista ordenada, cuántos caracteres hay al principio de dicha cadena que estén ordenados en orden ascendente. Por ejemplo, para la cadena "`hkrbcopq`" el resultado es 3 porque los caracteres ordenados en orden ascendente al principio son "`hkr`". Por último, calcula e imprime por pantalla la media de los resultados obtenidos para todas las cadenas de la lista ordenada.

In [64]:
from random import randint

In [65]:
# APARTADO A)

# Elegimos aleatoriamente la longitud de las listas con rangos entre 0 y 20 elementos
len_lista1 = randint(0,20)
len_lista2 = randint(0,20)

# Inicializamos las listas a listas vacías para poder insertar en ellas
lista1 = []
lista2 = []

for i in range(len_lista1):
  # Elegimos para cadena de cada lista su longitud aleatoriamente entre 0 y 15 caracteres
  len_lista1_cad_i = randint(0,15)
  cad_i = ""
  for j in range(len_lista1_cad_i):
    # Elegimos una letra aleatoriamente entre 'A' (Código ASCII 65) y 'Z' (ASCII 90)
    letter_i = chr(randint(65,90))
    cad_i += letter_i
  lista1.append(cad_i)

for i in range(len_lista2):
  # Elegimos para cadena de cada lista su longitud aleatoriamente entre 0 y 15 caracteres
  len_lista2_cad_i = randint(0,15)
  cad_i = ""
  for j in range(len_lista2_cad_i):
    # Elegimos una letra aleatoriamente entre 'A' (Código ASCII 65) y 'Z' (ASCII 90)
    letter_i = chr(randint(65,90))
    cad_i += letter_i
  lista2.append(cad_i)

print(lista1)
print(lista2)

['NZ', 'ZGUQHDJHDBD', '', 'WSHBBWTVCWF', 'ORJWQONILB', 'B', '', 'DAZVBKXPZSJJSJG', 'VZKOCNLFD', 'SKTWZVLYGGZFP', 'XBRM', 'ZXAYAMYUQE', 'JIJYPP', 'N', 'I', 'BPBALKNCJEYR', 'RRS', 'AGFV']
['JCVBDEXRJDBZSR', 'EBZFTCYEUDMVM', 'KBOPJYDHOND', 'EMPWUXGVKDFFW', 'DSXIYS', '']

In [66]:
# APARTADO B)

# Para combinar las listas basta concatenarlas

lista_combinada = lista1 + lista2

# Para ordenar descendentemente uso la función sorted() y el parámetro reverse = True

lista_combinada_sorted = sorted(lista_combinada, reverse = True)

print(lista_combinada_sorted)

['ZXAYAMYUQE', 'ZGUQHDJHDBD', 'XBRM', 'WSHBBWTVCWF', 'VZKOCNLFD', 'SKTWZVLYGGZFP', 'RRS', 'ORJWQONILB', 'NZ', 'N', 'KBOPJYDHOND', 'JIJYPP', 'JCVBDEXRJDBZSR', 'I', 'EMPWUXGVKDFFW', 'EBZFTCYEUDMVM', 'DSXIYS', 'DAZVBKXPZSJJSJG', 'BPBALKNCJEYR', 'B', 'AGFV', '', '', '']

In [67]:
# APARTADO C)

# Basta iterar sobre la lista y modificar cada cadena usando la función lower()

for i in range(len(lista_combinada_sorted)):
  lista_combinada_sorted[i] = lista_combinada_sorted[i].lower()

print(lista_combinada_sorted)

['zxayamyuqe', 'zguqhdjhdbd', 'xbrm', 'wshbbwtvcwf', 'vzkocnlfd', 'sktwzvlyggzfp', 'rrs', 'orjwqonilb', 'nz', 'n', 'kbopjydhond', 'jijypp', 'jcvbdexrjdbzsr', 'i', 'empwuxgvkdffw', 'ebzftcyeudmvm', 'dsxiys', 'dazvbkxpzsjjsjg', 'bpbalkncjeyr', 'b', 'agfv', '', '', '']

In [68]:
# APARTADO D)

lista_cont_car = []

# Iterare sobre cada cadena de la lista comenzando por el índice i = 0 y comparando
# con el índice i+1 hasta que encuentre que no tengan orden ascendente o igual

for cadena in lista_combinada_sorted:
  cont_cadena = 0
  for i in range(len(cadena) - 1):
    if cadena[i] <= cadena[i+1]: # ej: 'a' <= 'b' True
      cont_cadena+=1
    else:
      break
  # Creo una lista que irá guardando para cada cadena, el número que nos piden
  lista_cont_car.append(cont_cadena)

# NOTA: Es importante parar (con break) cuando encontramos un substring descendente
# pues se nos pide que desde el inicio, el número de caracteres ordenados ascendentemente
# no podemos continuar el conteo tras esto

print(lista_cont_car)
print(f"La media de caracteres ordenados ascendentemente al comienzo de las cadenas es {sum(lista_cont_car)/len(lista_cont_car)} caracteres.")

[0, 0, 0, 0, 1, 0, 2, 1, 1, 0, 0, 0, 0, 0, 3, 0, 2, 0, 1, 0, 1, 0, 0, 0]
La media de caracteres ordenados ascendentemente al comienzo de las cadenas es 0.5 caracteres.

## Ejercicio Experto

5. Vamos a trabajar con conjuntos de números enteros generados aleatoriamente:

    **a)** Genera 20 conjuntos de números enteros elegidos al azar. Cada conjunto debe contener números enteros entre 0 y 99, ambos inclusive. Cada número entero entre 0 y 99 tendrá una probabilidad del 10% de pertenecer a cada conjunto. Imprime los 20 conjuntos por pantalla.
    
    *Pista: Debes usar la función `random` del paquete `random`, comienza tu script con la siguiente instrucción:*

    `from random import random`

    **b)** Calcula, para cada par de conjuntos, su conjunto unión. Imprime por pantalla la media del número de elementos de los conjuntos unión obtenidos de esta manera.

    **c)** Imprime en pantalla los números enteros entre 0 y 99 que aparecen en un conjunto y el siguiente.

    **d)** Halla una lista de 100 elementos, siendo cada elemento una tupla (n,m), donde n es un número entre 0 y 99, y m es el número de conjuntos en los que aparece n. Imprime dicha lista por pantalla.

In [69]:
from random import random

In [70]:
# APARTADO A)

# Inicializamos una lista que contendrá los 20 conjuntos para poder posteriormente
# hacer operacioness con ellos
lista_conjuntos = []

for i in range(0, 20):
  # Inicializamos un conjunto vacío con set()
  conjunto = set()

  # Iteramos a través de todos los números enteros del 0 al 99
  for numero in range(100):
    # random() genera un valor aleatorio entre 0.0 y 1.0, luego si cae en menos
    # de 0.10, añadimos dicho número al conjunto (representamos el 10% de probabilidad)
    if random() <= 0.10:
      conjunto.add(numero)

  lista_conjuntos.append(conjunto)
  print(f"Conjunto {i+1}: {conjunto}")

Conjunto 1: {9, 75, 44, 14, 49, 17, 82, 91}
Conjunto 2: {32, 35, 36, 68, 38, 41, 43, 79, 16, 21, 25, 27, 29, 30}
Conjunto 3: {97, 2, 66, 70, 15, 47, 53, 55, 23, 62, 90, 27, 60, 30}
Conjunto 4: {66, 5, 8, 10, 11, 45, 46, 60, 84, 93, 90, 28, 29}
Conjunto 5: {3, 40, 9, 47, 56}
Conjunto 6: {65, 97, 98, 68, 8, 40, 82, 19, 83, 22, 56, 60}
Conjunto 7: {35, 99, 13, 47, 16, 49, 19, 86, 23, 57, 26}
Conjunto 8: {5, 38, 39, 74, 11, 14, 82, 59}
Conjunto 9: {65, 98, 72, 74, 11, 14, 15, 48, 82, 51, 83, 26, 27, 28}
Conjunto 10: {34, 72, 16, 82, 21, 54, 88, 26, 61}
Conjunto 11: {98, 5, 69, 72, 41, 46, 24, 89, 26, 27, 61}
Conjunto 12: {2, 70, 7, 41, 42, 13, 77, 84, 55, 94}
Conjunto 13: {36, 71, 91, 11, 18, 20, 85, 86, 87, 24, 88, 28, 31}
Conjunto 14: {33, 36, 5, 77, 15, 22, 54, 63}
Conjunto 15: {3, 5, 10, 11, 25, 26, 37, 40, 42, 43, 44, 57, 58, 61, 62, 76, 79, 84, 89, 95}
Conjunto 16: {0, 33, 67, 71, 8, 72, 42, 22, 60, 30, 31}
Conjunto 17: {67, 6, 41, 76, 77, 15, 20, 23, 90, 27, 93, 62}
Conjunto 18: {65, 70, 47, 49, 82, 52, 89}
Conjunto 19: {96, 33, 7, 76, 87, 55, 57, 60, 61}
Conjunto 20: {69, 75, 52, 88, 57, 26, 27, 61}

In [71]:
# APARTADO B)

suma_total_elementos = 0
numero_de_pares = 0

# Es importante notar que debemos hacer todas las posibles combinaciones de conjuntos
# sin repetir ninguna unión, el primer bucle va de los índices 0 a 19 y el segundo
# desde i + 1 a 19, de forma que nunca repitamos una combinación

for i in range(len(lista_conjuntos)):
    for j in range(i + 1, len(lista_conjuntos)):

      set_1 = set(lista_conjuntos[i])
      set_2 = set(lista_conjuntos[j])

      union = set_1 | set_2

    suma_total_elementos += len(union)
    numero_de_pares += 1

print(f"La media de elementos en los conjuntos unión es: {suma_total_elementos/numero_de_pares:.2f}")

La media de elementos en los conjuntos unión es: 17.70

In [72]:
# APARTADO C)

# Iteramos sobre la lista de conjuntos y comparamos los elementos del conjunto i
# con los elementos del conjunto i+1, guardandolos en una lista auxiliar

for i in range(len(lista_conjuntos) - 1):
  lista_iguales = []
  for elem in lista_conjuntos[i]:
    if elem in lista_conjuntos[i+1]:
      lista_iguales.append(elem)

  print(f"Coincidentes entre el conjunto {i} y el conjunto {i+1}: {lista_iguales}")

Coincidentes entre el conjunto 0 y el conjunto 1: []
Coincidentes entre el conjunto 1 y el conjunto 2: [27, 30]
Coincidentes entre el conjunto 2 y el conjunto 3: [66, 90, 60]
Coincidentes entre el conjunto 3 y el conjunto 4: []
Coincidentes entre el conjunto 4 y el conjunto 5: [40, 56]
Coincidentes entre el conjunto 5 y el conjunto 6: [19]
Coincidentes entre el conjunto 6 y el conjunto 7: []
Coincidentes entre el conjunto 7 y el conjunto 8: [74, 11, 14, 82]
Coincidentes entre el conjunto 8 y el conjunto 9: [72, 82, 26]
Coincidentes entre el conjunto 9 y el conjunto 10: [72, 26, 61]
Coincidentes entre el conjunto 10 y el conjunto 11: [41]
Coincidentes entre el conjunto 11 y el conjunto 12: []
Coincidentes entre el conjunto 12 y el conjunto 13: [36]
Coincidentes entre el conjunto 13 y el conjunto 14: [5]
Coincidentes entre el conjunto 14 y el conjunto 15: [42]
Coincidentes entre el conjunto 15 y el conjunto 16: [67]
Coincidentes entre el conjunto 16 y el conjunto 17: []
Coincidentes entre el conjunto 17 y el conjunto 18: []
Coincidentes entre el conjunto 18 y el conjunto 19: [57, 61]

In [76]:
# APARTADO D)

# He tenido la idea de guardar de forma más fácil estos datos en un diccionario
# y luego imprimir por pantalla la lista items()

dict_contadora = {}

for elem_set in lista_conjuntos:
  for elem in elem_set:
    if elem not in dict_contadora.keys():
      dict_contadora[elem] = 1
    else:
      dict_contadora[elem] += 1

# A aquellos valores que no han aparecido en el conteo, les asignamos cero repeticiones
for i in range(100):
  if i not in dict_contadora.keys():
    dict_contadora[i] = 0

print(dict_contadora.items())

dict_items([(9, 2), (75, 2), (44, 2), (14, 3), (49, 3), (17, 1), (82, 6), (91, 2), (32, 1), (35, 2), (36, 3), (68, 2), (38, 2), (41, 4), (43, 2), (79, 2), (16, 3), (21, 2), (25, 2), (27, 6), (29, 2), (30, 3), (97, 2), (2, 2), (66, 2), (70, 3), (15, 4), (47, 4), (53, 1), (55, 3), (23, 3), (62, 3), (90, 3), (60, 5), (5, 5), (8, 3), (10, 2), (11, 5), (45, 1), (46, 2), (84, 3), (93, 2), (28, 3), (3, 2), (40, 3), (56, 2), (65, 3), (98, 3), (19, 2), (83, 2), (22, 3), (99, 1), (13, 2), (86, 2), (57, 4), (26, 6), (39, 1), (74, 2), (59, 1), (72, 4), (48, 1), (51, 1), (34, 1), (54, 2), (88, 3), (61, 5), (69, 2), (24, 2), (89, 3), (7, 2), (42, 3), (77, 3), (94, 1), (71, 2), (18, 1), (20, 2), (85, 1), (87, 2), (31, 2), (33, 3), (63, 1), (37, 1), (58, 1), (76, 3), (95, 1), (0, 1), (67, 2), (6, 1), (52, 2), (96, 1), (1, 0), (4, 0), (12, 0), (50, 0), (64, 0), (73, 0), (78, 0), (80, 0), (81, 0), (92, 0)])