# Ejercicios de la Biblioteca Pandas

##### II DIPLOMA DE EXPERTO EN APRENDIZAJE AUTOMÁTICO AVANZADO EN PYTHON
#### Alumno: Pablo Fazio Arrabal

---

Cargue el fichero ***bmw.csv*** con el siguiente código:

In [4]:
import pandas as pd

# Conectar a Google Drive
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

df = pd.read_csv('/content/drive/MyDrive/bmw.csv')

Mounted at /content/drive

1. Muestre los primeros 10 registros de la base de datos.

In [5]:
df.head(10)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
5,5 Series,2016,14900,Automatic,35309,Diesel,125,60.1,2.0
6,5 Series,2017,16000,Automatic,38538,Diesel,125,60.1,2.0
7,2 Series,2018,16250,Manual,10401,Petrol,145,52.3,1.5
8,4 Series,2017,14250,Manual,42668,Diesel,30,62.8,2.0
9,5 Series,2016,14250,Automatic,36099,Diesel,20,68.9,2.0

2. Obtenga la serie correspondiente al atributo year, y a continuación obtenga el tipo de datos y el número de registros de dicha serie.

In [13]:
series_year = df["year"]

print(f"Tipo de datos de la serie: {series_year.dtype}")

print(f"Número de registros de la serie: {series_year.size}")

Tipo de datos de la serie: int64
Número de registros de la serie: 10781

3. Obtenga la serie correspondiente al atributo mileage, y después seleccione los registros de posición múltiplo de 7 en dicha serie.

In [44]:
series_mileage = df["mileage"]

registros_seleccionados = series_mileage[::7]

print(registros_seleccionados)

0        67068
7        10401
14       19057
21       78957
28       96213
         ...
10752    41500
10759    54008
10766    54987
10773    60372
10780    59432
Name: mileage, Length: 1541, dtype: int64

4. Obtenga la serie correspondiente al atributo mileage, y después seleccione aleatoriamente el 40% de los registros de dicha serie.

In [81]:
sample_mileage = series_mileage.sample(frac=0.4)

print(sample_mileage)

10772    41435
9980     23000
2464     28816
9792      3890
6127      4710
         ...
3762     22492
3057     14352
4628     81838
3677      5496
9829      3980
Name: mileage, Length: 4312, dtype: int64

5. Obtenga la serie correspondiente al atributo mileage, y después seleccione los registros de dicha serie con valor menor que 20000.

In [18]:
mileage_20000 = series_mileage[series_mileage < 20000]

print(mileage_20000)

1        14827
7        10401
14       19057
15       16570
39        6522
         ...
10740     3551
10741     2784
10742     5634
10743    13165
10755    13955
Name: mileage, Length: 5610, dtype: int64

6. Obtenga la serie correspondiente al atributo mpg, y después ordene los registros de dicha serie.

In [23]:
mpg_series = df["mpg"]

mpg_series_sorted = mpg_series.sort_values()

print(mpg_series_sorted)

6965       5.5
6132       5.5
6172       5.5
2116       5.5
1237       5.5
         ...
7047     470.8
3277     470.8
10080    470.8
7084     470.8
1866     470.8
Name: mpg, Length: 10781, dtype: float64

7. Calcule la media, la desviación tipica, el mínimo y el máximo del atributo engineSize.

In [45]:
engine_series = df["engineSize"]

print(f"La media de la columna engineSize es: {engine_series.mean()}")
print(f"La desviación típica de la columna engineSize es: {engine_series.std()}")
print(f"El mínimo de la columna engineSize es: {engine_series.min()}")
print(f"El máximo de la columna engineSize es: {engine_series.max()}")

La media de la columna engineSize es: 2.1677673685186902
La desviación típica de la columna engineSize es: 0.5520537772398764
El mínimo de la columna engineSize es: 0.0
El máximo de la columna engineSize es: 6.6

8. Obtenga el número de filas y columnas de la base de datos, así como el antepenúltimo registro.

In [46]:
filas_bd, columnas_bd = df.shape

print(f"El número de filas en la base de datos es: {filas_bd}")
print(f"El número de columnas en la base de datos es: {columnas_bd}\n")

print(df.iloc[-3, :])

El número de filas en la base de datos es: 10781
El número de columnas en la base de datos es: 9

model            3 Series
year                 2017
price               13100
transmission       Manual
mileage             25468
fuelType           Petrol
tax                   200
mpg                  42.8
engineSize            2.0
Name: 10778, dtype: object

9. Obtenga los atributos mileage, price y mpg en un nuevo DataFrame, y después seleccione aleatoriamente el 20% de los registros.

In [82]:
df_mod = df.copy()

df_mod = df_mod[["mileage", "price", "mpg"]]

df_sample = df_mod.sample(frac=0.2)

print(df_sample.head())

       mileage  price   mpg
1869      3750  32790  52.3
8894     61040  10125  42.8
10164    58436  13200  56.5
6792      4982  24295  50.4
1070     60212  14750  58.9

10. Obtenga los registros que tengan un valor de mileage inferior a 10000 y un valor de mpg mayor que 40.

In [47]:
print(df[(df["mileage"] < 10000) & (df["mpg"] > 40)])

           model  year  price transmission  mileage fuelType  tax   mpg  \
131     1 Series  2017  14600    Automatic     5615   Petrol  145  58.9
148     1 Series  2016  13700       Manual     8719   Petrol  125  52.3
153     1 Series  2016  13750    Automatic     8707   Petrol   30  55.5
166           X1  2020  31498    Semi-Auto     1560   Diesel  145  60.1
167     2 Series  2020  27998       Manual     1580   Petrol  150  43.5
...          ...   ...    ...          ...      ...      ...  ...   ...
10713   3 Series  2020  23899    Automatic     1255   Petrol  150  47.9
10739   3 Series  2019  23987    Automatic     1049   Petrol  150  47.9
10740   3 Series  2019  23454    Automatic     3551   Petrol  150  47.9
10741   3 Series  2019  23599    Automatic     2784   Petrol  145  47.9
10742   3 Series  2019  23499    Automatic     5634   Petrol  145  47.9

       engineSize
131           1.5
148           1.5
153           1.5
166           2.0
167           1.5
...           ...
10713         2.0
10739         2.0
10740         2.0
10741         2.0
10742         2.0

[3079 rows x 9 columns]

11. Modifique los valores del atributo model, de tal manera que los valores " x Series" pasen a ser "Serie x", siendo x un número entre 1 y 9.

In [56]:
remplazo = {" 1 Series" : "Serie 1", " 2 Series" : "Serie 2", " 3 Series" : "Serie 3", " 4 Series" : "Serie 4",
            " 5 Series" : "Serie 5", " 6 Series" : "Serie 6", " 7 Series" : "Serie 7", " 8 Series" : "Serie 8",
            " 9 Series" : "Serie 9"}

df.replace(remplazo)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Serie 5,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,Serie 6,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,Serie 5,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,Serie 1,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,Serie 7,2014,14500,Automatic,39554,Diesel,160,50.4,3.0
...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0
10777,Serie 5,2016,14600,Automatic,42947,Diesel,125,60.1,2.0
10778,Serie 3,2017,13100,Manual,25468,Petrol,200,42.8,2.0
10779,Serie 1,2014,9930,Automatic,45000,Diesel,30,64.2,2.0
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0

12. Inserte un nuevo registro con los siguientes datos: model=" 3 Series", year=2023, price = 22572, transmission = "Automatic", mileage = 74120, fuelType = "Diesel", tax = 160, mpg = 58.4, engineSize = 2.0

In [74]:
new_reg = {"model" : " 3 Series", "year" : 2023, "price" : 22572, "transmission" : "Automatic",
           "mileage" : 74120, "fuelType" : "Diesel", "tax" : 160, "mpg" : 58.4, "engineSize" : 2.0}

new_row_df = pd.DataFrame([new_reg])

df = pd.concat([df, new_row_df], ignore_index=True)

print(df.tail())

           model  year  price transmission  mileage fuelType  tax   mpg  \
10777    Serie 5  2016  14600    Automatic    42947   Diesel  125  60.1
10778    Serie 3  2017  13100       Manual    25468   Petrol  200  42.8
10779    Serie 1  2014   9930    Automatic    45000   Diesel   30  64.2
10780         X1  2017  15981    Automatic    59432   Diesel  125  57.6
10781   3 Series  2023  22572    Automatic    74120   Diesel  160  58.4

       engineSize
10777         2.0
10778         2.0
10779         2.0
10780         2.0
10781         2.0

13. Convierta el DataFrame en un ndarray de numpy, e imprima el tipo de datos del ndarray obtenido.

In [66]:
import numpy as np

In [68]:
new_arr = np.array(df)

print(new_arr)

[['Serie 5' 2014 11200 ... 125 57.6 2.0]
 ['Serie 6' 2018 27000 ... 145 42.8 2.0]
 ['Serie 5' 2016 16000 ... 160 51.4 3.0]
 ...
 ['Serie 3' 2017 13100 ... 200 42.8 2.0]
 ['Serie 1' 2014 9930 ... 30 64.2 2.0]
 [' X1' 2017 15981 ... 125 57.6 2.0]]

In [79]:
print(new_arr.dtype)

object

14. Calcule para cada registro el número medio de millas recorridas cada año.

In [85]:
current_year = 2025

df["miles_per_year"] = df["mileage"] / (current_year - df["year"])

print(df.head())

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize  \
0  Serie 5  2014  11200    Automatic    67068   Diesel  125  57.6         2.0
1  Serie 6  2018  27000    Automatic    14827   Petrol  145  42.8         2.0
2  Serie 5  2016  16000    Automatic    62794   Diesel  160  51.4         3.0
3  Serie 1  2017  12750    Automatic    26676   Diesel  145  72.4         1.5
4  Serie 7  2014  14500    Automatic    39554   Diesel  160  50.4         3.0

   miles_per_year
0     6097.090909
1     2118.142857
2     6977.111111
3     3334.500000
4     3595.818182